/* IMPOSTAZIONI GENERALI */
body{
    width: 100%;
    font-size: 100%;
    background-image: url(../img/sfondo.png);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
h1{
    font-size:2.5rem;
    font-weight: bolder;
    margin:1rem;
}
p{
    font-size: medium;
    margin: 1rem;
}
ul{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
ol{
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
strong{
    color: red;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    
/* HEADER */
header{
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
header img{
   width: 80%;
}
header p{
    color: white;
    text-align: center;
}
#head{
    margin: 1rem;
    background-color: rgb(69, 69, 143);
    width: 100%;
    text-align: center;
}
img{
    margin: 2rem;
}
 a{
     margin: 1rem;
   color: white;
   display:block;
}
/* MAIN */
main{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
section{
    background-color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 0;
}
.caption{
    font-size: small;
    color: gray;
    margin: 1rem;
}
.lista{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.lista ul li{
    align-items: left;
    text-align: left;
}
.lista ol li{
    align-items: left;
    text-align: left;
}
/* ELEMENTI NEL MAIN - ARTICLE */
iframe{
    border-radius: 10%;
}
/* TABELLE */
table, td, th {
    margin: 1rem;
    border: solid 0.2rem rgb(185, 176, 176);
    
}
th{
    height: 40px;
    background-color: rgb(83, 83, 170);
    color: aliceblue;
}
th, td{
    width: 150px;
}
/* FORM */
#form{
    background-color: rgb(176, 174, 174);
    margin: 1rem;
}
input{
    margin: 1rem;
    margin-right: 0;
}
button{
    margin: 1rem;
    margin-left: 0;
}
/* ELEMENTI NELL' ASIDE */
#correlati div{
    background-color: rgb(156, 155, 155);
    margin: 1rem;
    
}
#articoli p{
    font-size: small;
    text-align: left;
    
}
/* FOOTER */
footer{
    width:50%;
    margin: 1rem;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(112, 112, 174);
}