@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans&display=swap');

$nav_bg:#6600ff;
$a-color:white;
$a-red:rgb(255, 98, 0);
$h-size:2rem;
$h2-size:3rem;
$body-font:Open Sans;
$foot-bg:#6600ff;
$foot-color:white;


%img{
    box-shadow: 0 0 10px black;
        &:hover{
            transform: scale(1.1);
        }
}

%section{
   
    padding: 0.5rem;
}