$nav-color:sienna;
$ul-color: rgb(255, 255, 255);
$ul-font-size:1.3rem;
$body-font: monospace;
$body-color:rgb(244, 156, 116);
$aside-color:rgb(25, 110, 222);
$footer-bg:rgb(25, 110, 222);
$footer-color:white;