#bar{
    background-color: rgb(180, 225, 146);
   
}
#descrizione{
    background-color: antiquewhite;
    width: 100%;
    
    border-top: solid 1px coral;
    
}
#featured{

    width: 36.5%;
    text-align: left;
    font-size: x-small;
    border-left: solid 4px yellow;
}
#titolo h4{
    opacity: 50%;
}
#img{
    width: 50%;
     
}
div{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
#main{
    text-align: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    
}
h2{
    font-size: 3em;
}
a{
    font-size: 1em;
}
h3{
    font-size: 1.5em;
}
footer{
    background-color: antiquewhite;
}
#img video{
    width: 100%;
}
hr{
    width: 100%;
    color: black;
}
ul li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.caption{
    color: rgb(95, 96, 97);
    opacity: 70%;
}